.landing {
  height: 100svh;
  position: relative;
}
.section {
  height: 80svh;
  position: relative;
}
.section-longer {
  height: auto;
  position: relative;
}
.section-half {
  height: 40svh;
  position: relative;
}
