@use "../utils/colors";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// font-family: 'Kanit', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: colors.$secondary;
  color: colors.$main;
}
.dark ::selection {
  background: colors.$secondary;
  color: colors.$main;
}
::selection {
  background: colors.$main;
  color: colors.$secondary;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: calc(100% + 1.8vw + 1.8vh);
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: calc(100% + 2.4vw + 2.4vh);
  position: relative;
  span {
    font-family: "Kanit", sans-serif;
    position: absolute;
    top: -1.3em;
    left: -0.3em;
    font-size: calc(100% + 2.5vw + 2.5vh);
    color: #00000011;
  }
  Link,
  a {
    text-decoration: none;
    color: colors.$main;
    cursor: pointer;
  }
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: calc(100% + 1.5vw + 1.5vh);
  span {
    color: colors.$accent;
    font-weight: medium;
  }
}
h4 {
  font-weight: 400;
}
header p {
  font-family: "Kanit", sans-serif;
}
p {
  font-size: calc(100% + 0.3vw + 0.3vh);
  font-weight: 300;
  margin: 0;
  padding: 0;
  span {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: colors.$accent2;
    margin: 0;
    padding: 0;
  }
  a,
  link {
    color: colors.$accent;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    padding: 0.2em 0;
  }
  a:hover,
  a:active,
  a:focus,
  link:hover,
  link:active,
  link:focus {
    color: colors.$main;
  }
}
span {
  font-size: calc(100% + 0.2vw + 0.2vh);
  font-weight: 300;
}
.bigger-text {
  font-size: calc(100% + 0.5vw + 0.5vh);
  font-weight: 300;
  span {
    font-weight: 500;
    color: colors.$accent;
  }
}
.margin-top-075 {
  margin-top: 0.75em !important;
}
.smaller-span {
  font-size: calc(100% + 0.002vw + 0.002vh);
  font-weight: 400;
  color: colors.$accent2;
}
.smaller-text {
  font-size: calc(100% + 0.25vw + 0.25vh);
  font-weight: 300;
  span {
    font-weight: 300;
    color: colors.$accent;
  }
  a,
  link {
    text-decoration: none;
    font-weight: 300;
    color: colors.$accent;
    padding: 0;
    box-shadow: none;
    font-size: calc(100% + 0.05vw + 0.05vh);
  }
  a:hover,
  a:active,
  a:focus,
  link:hover,
  link:active,
  link:focus {
    text-decoration: none;
    color: colors.$accent;
    padding: 0;
    box-shadow: none;
    font-size: calc(100% + 0.05vw + 0.05vh);
  }
}
.simple-link {
  font-size: calc(100% + 0.2vw + 0.2vh);
  font-weight: 300;
  a,
  link {
    color: colors.$main;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  a:hover,
  a:active,
  a:focus,
  link:hover,
  link:active,
  link:focus {
    padding: 0;
    font-weight: 300;
    color: colors.$main;
    box-shadow: none;
    text-decoration: underline;
  }
}
.no-effect-link {
  font-size: calc(100% + 0.4vw + 0.4vh);
  font-weight: 300;
  a,
  link {
    color: colors.$main;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  a:hover,
  a:active,
  a:focus,
  link:hover,
  link:active,
  link:focus {
    padding: 0;
    font-weight: 300;
    color: colors.$main;
    box-shadow: none;
  }
}
.logo {
  font-size: calc(100% + 0.2vw + 0.2vh);
}
button {
  background-color: colors.$main;
  color: colors.$secondary;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: calc(100% + 0.4vw + 0.4vh);
  transition: all 0.2s ease-in-out;
}
button:hover,
button:active {
  background-color: #232323f4;
  color: #fff;
}
.m-b-1 {
  margin-bottom: 1em;
}
