@use "../utils/colors";
.landing {
  min-height: 80svh;
  position: relative;
  background-color: colors.$secondary;
}
.landing-shorter {
  min-height: 55svh;
  position: relative;
  background-color: colors.$secondary;
}
.section {
  overflow-x: hidden;
  min-height: 35svh;
  height: auto;
  position: relative;
  text-decoration: none;
  color: colors.$main;
  background-color: colors.$secondary;
  padding: 0;
  margin: 0;
  Link,
  a {
    text-decoration: none;
    color: colors.$main;
  }
  .button {
    Link,
    a {
      text-decoration: none;
      color: colors.$secondary;
    }
  }
}
.section-longer {
  height: auto;
  position: relative;
  text-decoration: none;
  color: colors.$main;
  background-color: colors.$secondary;
  cursor: pointer;
}
.section-longer-nc {
  height: auto;
  position: relative;
  text-decoration: none;
  color: colors.$main;
  background-color: colors.$secondary;
}
.section-shorter {
  background-color: colors.$main;
  color: colors.$secondary;
  min-height: calc(100% + 60svw + 60svh);
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
}
.project {
  overflow-x: hidden;
  height: auto;
  min-height: 80svh;
  position: relative;
  text-decoration: none;
  color: colors.$main;
  cursor: pointer;
  transition: background-color 0.5s ease;
  a,
  link {
    text-decoration: none;
  }
}
.project-thumbnail {
  -webkit-box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.3);
  padding: 0;
  border-radius: 0;
  max-height: 80svh;
}
.swiper {
  --bs-gutter-x: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  .swiper-wrapper {
    --bs-gutter-x: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}
.parallax {
  height: auto;
  min-height: 80svh;
  position: relative;
}
.profile-img {
  width: 100%;
  position: relative;
}
.rep-image {
  width: 80%;
  position: relative;
  filter: drop-shadow(4px 4px 10px #000000);
}
@media screen and (max-width: 768px) {
  .rep-image {
    width: 100%;
    filter: drop-shadow(4px 4px 10px #000000);
  }
}
.project-container {
  cursor: default;
}
.cursor-default {
  cursor: default;
}
.featured-projecs {
  background-color: #ece6dd;
}
.landing {
  height: 100svh;
  overflow: hidden;
}

.bold {
  font-weight: 500;
}
.italic {
  font-weight: 300;
  font-style: italic;
}
