@use "../utils/colors";
.landing {
  min-height: 80svh;
  position: relative;
  background-color: colors.$secondary;
}
.landing-shorter {
  min-height: 55svh;
  position: relative;
  background-color: colors.$secondary;
}
.section {
  overflow-x: hidden;
  min-height: 35svh;
  height: auto;
  position: relative;
  text-decoration: none;
  color: colors.$main;
  background-color: colors.$secondary;
  padding: 0;
  margin: 0;
  Link,
  a {
    text-decoration: none;
    color: colors.$main;
  }
  .button {
    Link,
    a {
      text-decoration: none;
      color: colors.$secondary;
    }
  }
}
.section-longer {
  height: auto;
  position: relative;
  text-decoration: none;
  color: colors.$main;
  background-color: colors.$secondary;
  cursor: pointer;
}
.section-longer-nc {
  height: auto;
  position: relative;
  text-decoration: none;
  color: colors.$main;
  background-color: colors.$secondary;
}
.section-shorter {
  background-color: colors.$main;
  color: colors.$secondary;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 10em;
  margin-bottom: 10em;
  position: relative;
}
.project {
  overflow-x: hidden;
  height: auto;
  min-height: 80svh;
  position: relative;
  text-decoration: none;
  color: colors.$main;
  cursor: pointer;
  transition: background-color 0.5s ease;
  a,
  link {
    text-decoration: none;
  }
}
.project-thumbnail {
  -webkit-box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.3);
  padding: 0;
  border-radius: 0;
  max-height: 80svh;
}
.swiper {
  --bs-gutter-x: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  .swiper-wrapper {
    --bs-gutter-x: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}
.s-swiper::selection{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.swiper::selection, .swiper img::selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.parallax {
  height: auto;
  min-height: 80svh;
  position: relative;
}
.profile-img {
  width: 100%;
  position: relative;
}
.rep-image {
  width: 80%;
  position: relative;
  filter: drop-shadow(4px 4px 10px #000000);
}
@media screen and (max-width: 768px) {
  .rep-image {
    width: 100%;
    filter: drop-shadow(4px 4px 10px #000000);
  }
}
.project-container {
  cursor: default;
}
.cursor-default {
  cursor: default;
}
.featured-projecs {
  background-color: #ece6dd;
}
.landing {
  height: 100svh;
  overflow: hidden;
}
.goToTop {
  position: fixed;
  bottom: 7.5px;
  right: 7.5px;
  z-index: 100;
  background-color: colors.$main;
  color: colors.$secondary;
  border: none;
  border-radius: 50%;
  padding: 0.75em 0.75em;
  font-size: calc(100% + 0.02vw + 0.02vh);
  transition: all 0.2s ease-in-out;
  Link,
  a {
    text-decoration: none;
    color: colors.$secondary;
  }
}

.photo-card-img{
  position: relative;
  // margin: 1em;
  width: 100%;
}
.title-lower{
  top: 0;
}
.section h3{
  font-size: calc(100% + 1.1vw + 1.1vh);
}
.swiper-slide::selection, .swiper-slide img::selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media screen and (min-width: 768px) {
  .photo-card-img {
    width: 75%;
  }
  .title-lower{
    top: 0.3em;
  }
}
@media screen and (min-width: 992px) {
  .photo-card-img {
    width: 55%;
  }
  .card-img-smaller-lg{
    width: 45%;
    // height: fit-content;
  }
}
@media screen and (min-width: 1920px) {
  .photo-card-img {
    width: 50%;
  }
  .photo-card-img:nth-child(1){
    top: -5em;
    width: 30%;
  }
  .photo-card-img:nth-child(3){
    bottom: -5em;
    width: 30%;
  }
  .card-img-smaller-lg{
    width: 40%;
    height: fit-content;
  }
  .title-lower{
    top: 1.2em;
  }
}
.dashboard-gallery {
  columns: 300px;
}
.dashboard-img{
  width: 100%;
  padding: 1em;
  transition: all 1s ease-in-out;
}

.splide__pagination__page.is-active {
  background: colors.$accent;
}
.splide__pagination__page {
  background: #7e7e7e;
  opacity: 1;
}
.splide__arrow:hover svg:hover{
  fill: colors.$accent;
}

.photography-client-header{
  height: 40svh;
}

.photography-client-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-auto-rows: 0.75em; 
  gap: 0.75em; 

  @media (max-width: 600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }
}

.img-container-photography-client {
  break-inside: avoid;
  overflow: hidden;
}

.img-container-photography-client img {
  width: 100%;
  cursor: pointer;
  height: auto;
  display: block;
  transition: all 1s ease-in-out;
}



.modal {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.arrow {
  z-index: 1000;
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.arrow.left {
  left: 15px;
}

.arrow.right {
  right: 15px;
}