@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  color: #232323;
}

.dark ::-moz-selection {
  background: #f3f3f3;
  color: #232323;
}

.dark ::selection {
  background: #f3f3f3;
  color: #232323;
}

::-moz-selection {
  background: #232323;
  color: #f3f3f3;
}

::selection {
  background: #232323;
  color: #f3f3f3;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: calc(100% + 1.8vw + 1.8vh);
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: calc(100% + 2.4vw + 2.4vh);
  position: relative;
}
h2 span {
  font-family: "Kanit", sans-serif;
  position: absolute;
  top: -1.3em;
  left: -0.3em;
  font-size: calc(100% + 2.5vw + 2.5vh);
  color: rgba(0, 0, 0, 0.0666666667);
}
h2 Link,
h2 a {
  text-decoration: none;
  color: #232323;
  cursor: pointer;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: calc(100% + 1.5vw + 1.5vh);
}
h3 span {
  color: #d7942d;
  font-weight: medium;
}

h4 {
  font-weight: 400;
}

header p {
  font-family: "Kanit", sans-serif;
}

p {
  font-size: calc(100% + 0.3vw + 0.3vh);
  font-weight: 300;
  margin: 0;
  padding: 0;
}
p span {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: rgba(35, 35, 35, 0.3137254902);
  margin: 0;
  padding: 0;
}
p a,
p link {
  color: #d7942d;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
  padding: 0.2em 0;
}
p a:hover,
p a:active,
p a:focus,
p link:hover,
p link:active,
p link:focus {
  color: #232323;
}

span {
  font-size: calc(100% + 0.2vw + 0.2vh);
  font-weight: 300;
}

.bigger-text {
  font-size: calc(100% + 0.5vw + 0.5vh);
  font-weight: 300;
}
.bigger-text span {
  font-weight: 500;
  color: #d7942d;
}

.margin-top-075 {
  margin-top: 0.75em !important;
}

.smaller-span {
  font-size: calc(100% + 0.002vw + 0.002vh);
  font-weight: 400;
  color: rgba(35, 35, 35, 0.3137254902);
}

.smaller-text {
  font-size: calc(100% + 0.25vw + 0.25vh);
  font-weight: 300;
}
.smaller-text span {
  font-weight: 300;
  color: #d7942d;
}
.smaller-text a,
.smaller-text link {
  text-decoration: none;
  font-weight: 300;
  color: #d7942d;
  padding: 0;
  box-shadow: none;
  font-size: calc(100% + 0.05vw + 0.05vh);
}
.smaller-text a:hover,
.smaller-text a:active,
.smaller-text a:focus,
.smaller-text link:hover,
.smaller-text link:active,
.smaller-text link:focus {
  text-decoration: none;
  color: #d7942d;
  padding: 0;
  box-shadow: none;
  font-size: calc(100% + 0.05vw + 0.05vh);
}

.simple-link {
  font-size: calc(100% + 0.2vw + 0.2vh);
  font-weight: 300;
}
.simple-link a,
.simple-link link {
  color: #232323;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.simple-link a:hover,
.simple-link a:active,
.simple-link a:focus,
.simple-link link:hover,
.simple-link link:active,
.simple-link link:focus {
  padding: 0;
  font-weight: 300;
  color: #232323;
  box-shadow: none;
  text-decoration: underline;
}

.no-effect-link {
  font-size: calc(100% + 0.4vw + 0.4vh);
  font-weight: 300;
}
.no-effect-link a,
.no-effect-link link {
  color: #232323;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.no-effect-link a:hover,
.no-effect-link a:active,
.no-effect-link a:focus,
.no-effect-link link:hover,
.no-effect-link link:active,
.no-effect-link link:focus {
  padding: 0;
  font-weight: 300;
  color: #232323;
  box-shadow: none;
}

.logo {
  font-size: calc(100% + 0.2vw + 0.2vh);
}

button {
  background-color: #232323;
  color: #f3f3f3;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: calc(100% + 0.4vw + 0.4vh);
  transition: all 0.2s ease-in-out;
}

button:hover,
button:active {
  background-color: rgba(35, 35, 35, 0.9568627451);
  color: #fff;
}

.m-b-1 {
  margin-bottom: 1em;
}

.landing {
  height: 100svh;
  position: relative;
}

.section {
  height: 80svh;
  position: relative;
}

.section-longer {
  height: auto;
  position: relative;
}

.section-shorter {
  background-color: #232323;
  color: #f3f3f3;
  min-height: 60svh;
  position: relative;
}

.project {
  height: auto;
  min-height: 80svh;
  position: relative;
  text-decoration: none;
  color: #232323;
  cursor: pointer;
}

.project-thumbnail {
  box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.3);
  padding: 0;
  border-radius: 0;
  max-height: 80svh;
}

.cursor {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  top: 0;
  left: 0;
  position: fixed;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  pointer-events: none;
}