html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  color: #232323;
}

::-moz-selection {
  background: #232323;
  color: #f3f3f3;
}

::selection {
  background: #232323;
  color: #f3f3f3;
}

h1 {
  font-size: calc(100% + 1.8vw + 1.8vh);
}

h2 {
  font-size: calc(100% + 2.5vw + 2.5vh);
  position: relative;
}
h2 span {
  position: absolute;
  top: -1.3em;
  left: -0.3em;
  font-size: calc(100% + 2.8vw + 2.8vh);
  color: rgba(0, 0, 0, 0.0666666667);
}
h2 Link,
h2 a {
  text-decoration: none;
  color: #232323;
  cursor: pointer;
}

p {
  font-size: calc(100% + 0.4vw + 0.4vh);
  font-weight: 300;
}
p span {
  font-weight: 500;
  color: #d7942d;
}
p a,
p link {
  color: #d7942d;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
p a:hover,
p a:active,
p a:focus,
p link:hover,
p link:active,
p link:focus {
  padding: 0.2em 0.5em 0.3em 0.5em;
  box-shadow: inset 10em 0 0 0 #232323;
  border-radius: 0.25em;
  color: #f3f3f3;
}

.simple-link {
  font-size: calc(100% + 0.4vw + 0.4vh);
  font-weight: 300;
}
.simple-link a,
.simple-link link {
  color: #232323;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.simple-link a:hover,
.simple-link a:active,
.simple-link a:focus,
.simple-link link:hover,
.simple-link link:active,
.simple-link link:focus {
  padding: 0;
  font-weight: 300;
  color: #232323;
  box-shadow: none;
  text-decoration: underline;
}

.no-effect-link {
  font-size: calc(100% + 0.4vw + 0.4vh);
  font-weight: 300;
}
.no-effect-link a,
.no-effect-link link {
  color: #232323;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.no-effect-link a:hover,
.no-effect-link a:active,
.no-effect-link a:focus,
.no-effect-link link:hover,
.no-effect-link link:active,
.no-effect-link link:focus {
  padding: 0;
  font-weight: 300;
  color: #232323;
  box-shadow: none;
}

button {
  background-color: #232323;
  color: #f3f3f3;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: calc(100% + 0.4vw + 0.4vh);
  transition: all 0.2s ease-in-out;
}

button:hover,
button:active {
  background-color: rgba(35, 35, 35, 0.9568627451);
  color: #fff;
}

.landing {
  height: 100svh;
  position: relative;
}

.section {
  height: 80svh;
  position: relative;
}

.cursor {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  top: 0;
  left: 0;
  position: fixed;
  background: #d7942d;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  pointer-events: none;
}